html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

body {
  background: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* Main layout */
.container {
  display: flex;
  height: 100vh;
  padding: 60px;
  gap: 40px;
  font-family: Arial, sans-serif;
}

.left-panel,
.right-panel {
  width: 50%;         
  display: flex;
  flex-direction: column;
  padding: 60px;
}


/* Left side */
.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-field,
.textarea-field {
  width: 100%;
  box-sizing: border-box;  
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  font-size: 16px;
  color: #000;   
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.textarea-field {
  height: 110px;
  resize: none;
}

.add-btn {
  background: #005cff;
  color: white;
  padding: 8px 32px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: auto;
  align-self: flex-end;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.add-btn:hover {
  background: #0040c4;
}

.add-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}


/* Divider line */
.divider {
  width: 1px;
  background-color: #ccc;
  height: 90%;
}

/* Right side */
.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Task card */
.task-card {
  background: #e5e5e5;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.task-info {
  flex: 1;
}

.task-action {
  display: flex;
  align-items: flex-end;
}

.task-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.task-desc {
  margin: 6px 0 0 0;
  font-size: 14px;
  color: #333;
}

/* Done button */
.done-btn {
  background: transparent;
  border: 1.5px solid #333;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.done-btn:hover {
  background: #dcdcdc;
}
